body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.navbar {
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: #333;
}

.img-fluid {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#funFact {
    font-style: italic;
    color: #007bff;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    margin-bottom: 60px;
}